.visit-content-short {
  max-width: 500px;
  background-color: var(--primary-color-bright);
  margin: 15px auto;
}

.visit-content-text {
  max-width: 500px;
  padding: 10px 20px;
  margin: 0;
}

.explore-all h3 {
  padding: 6px 20px;
}

.explore-all p {
  margin-top: 0;
}
