.hero {
  background: url(/images/homepage/hero.jpg) center top no-repeat;
  background-size: cover;
  min-height: 45vh;
}

.featured-list {
  display: grid;
  grid-template-columns: 1 fr;
  gap: 20px 10px;
}

.featured-list-small {
  grid-template-columns: repeat(2, 1fr);
}
