@import "imports/links.css";
@import "imports/variables.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--text-paragraph), Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--color-background);
}

h1,
h2,
h3,
.list-title {
  font-family: var(--text-heading), Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}

.list-title {
  color: var(--primary-color);
  font-size: 24px;
}

.featured-list-small .list-title {
  font-size: 19px;
}

.dark {
  color: var(--primary-color-text);
}

img {
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  padding: 5px 0;
  border-bottom: var(--primary-color);
}

#top {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.svg-logo-nav,
.svg-logo-footer {
  width: 165px;
  height: 50px;
  padding: 0 5px 0 5px;
}

#hamburger-menu {
  display: none;
}

.fas.fa-bars {
  font-size: 1.9em;
  color: var(--primary-color);
  padding: 0 5px 0 5px;
}

.fas.fa-search {
  font-size: 24px;
  color: var(--primary-color-text);
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  display: none;
  position: absolute;
  top: 56px;
  left: 0px;
}

.nav-search {
  display: none;
}

.nav-tickets {
  padding: 0 5px 0 5px;
}

nav li {
  display: block;
  padding: 20px 30px;
}

ul {
  background-color: var(--primary-color-bright);
  width: 200px;
}

.container {
  max-width: 1000px;
  margin: 20px auto 30px auto;
}

.hero {
  margin: 0 auto;
}

.featured-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px 15px;
}

.featured-list h2 {
  color: var(--primary-color);
  margin: 0;
}

.featured-content-list {
  background-color: var(--primary-color-bright);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* .featured-content-list-main {
  min-height: 350px;
} */

.featured-content-list p {
  padding: 8px 15px;
  font-size: 0.9em;
  text-align: center;
  margin: 0;
}

.featured-list-small h2 {
  font-size: 1.2em;
}

.visit-content-short {
  max-width: 500px;
  background-color: var(--primary-color-bright);
  margin: 15px auto;
}

.visit-content-text {
  max-width: 500px;
  padding: 10px 20px;
  margin: 0;
}

.explore-all h3 {
  padding: 6px 20px;
}

.explore-all p {
  margin-top: 0;
}

.container-media {
  margin: 40px auto;
}

.social-media {
  text-align: center;
}

.social-media i {
  font-size: 24px;
  padding: 0 15px;
  color: var(--primary-color);
}

.headline-container-primary {
  background-color: var(--primary-color);
  color: var(--primary-color-bright);
  padding: 6px 20px;
}

.headline-container-primary-short {
  max-width: 460px;
  margin: 0 auto;
}

.headline-container-primary-danger {
  background-color: var(--color-danger);
}

/* .container-flex {
  display: flex;
  flex-direction: column;
} */

.img-container-primary {
  max-width: 500px;
  padding: 10px 20px;
  margin: 0 auto;
}

.content-container-top-primary {
  background-color: var(--primary-color-bright);
}

.content-container-top-primary-short {
  max-width: 500px;
  margin: 0 auto;
}

.content-title {
  color: var(--primary-color);
  padding: 10px 20px;
  font-size: 21px;
  font-family: var(--text-paragraph), Verdana, Geneva, Tahoma, sans-serif;
}

.content-container-top-primary p {
  padding: 0px 20px 10px 20px;
  max-width: 1000px;
  font-size: 18px;
  margin: 0;
}

.content-container-top-primary-short p {
  font-size: 16px;
}

footer {
  background-color: var(--primary-color-text);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo-container-footer {
  margin: auto;
}

.svg-logo-footer {
  margin: 20px 0;
}

footer div {
  margin: 10px;
}

.footer-row-one a,
.footer-row-two a {
  padding: 10px;
  font-family: var(--text-paragraph);
  color: var(--primary-color-bright);
  font-size: 0.9em;
  text-transform: none;
}

.footer-row-three {
  color: var(--primary-color-bright);
  font-size: 0.7em;
}

/* tickets / checkout / confirmation */

.checkout-title {
  font-family: var(--text-paragraph);
  font-size: 18px;
}
