:root {
  --text-heading: "Oswald";
  --text-paragraph: "Poppins";
  --primary-color: #4129d9; /* purple */
  --primary-color-hover: #1f00e9;
  --primary-color-text: #402401; /* darkbrown */
  --primary-color-bright: #ffffff; /* white */
  --color-danger: #d63f32; /* red */
  --color-sand: #d9ad5b; /* yellow */
  --color-background: #f4f4f4; /* light grey */
}
